<p>
  Comment from <span class="fw-bold"><%= comment.user.name %></span>:
  <%= comment.content %>
</p> 

<div>
  <% if user_signed_in? %>
    <% if current_user.role == "admin" %>
      <p>
        <%= link_to "Destroy Comment", [comment.article, comment], data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %>
      </p>
    <% end %>
  <% end %>
</div>